<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta http-equiv= "content-type" content= "text/html; charset=UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>
  <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" type="text/css" rel="stylesheet" />
  <title>HappyPet.app, l'application mobile</title>
</head>
<body>
  <header>
    <menu>
      <a href="https://happypet.app"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/happypet.svg"></img></a>
      <ul>
        <li>test</li>
        <li>test2</li>
        <li>test3</li>
        <li>test4</li>
      </ul>
    </menu>
    <div class="container">
        <div class="row">
          <div class="col-md-6" id="annonce" style="background-color:#ff0fff;">
            <h1>HappyPet.app ! Pour ceux qui aiment les animaux</h1>
            <h2>Application qui lie les propriétaire d'animaux <br />
            et ceux qui souhaitent s'en occuper</h2>
          </div>
        </div>
    </div>
  </header>
</body>
</html>
