/****** GENERAL ********/
h1, h2, h3, h4, h5, h6{
  color: #ffffff;
}
/****** HEADER ********/
/*
header{
  background-image:linear-gradient(190deg, #81d5b7, #00a7e2);
  height: 97vh;
} */

header video#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(calc(-50% - 5vh));
    -moz-transform: translateX(-50%) translateY(calc(-50% - 5vh));
    -webkit-transform: translateX(-50%) translateY(calc(-50% - 5vh));
    transform: translateX(-50%) translateY(calc(-50% - 5vh));
    background-image:linear-gradient(190deg, #81d5b7, #00a7e2);

  }

header h1{
  font-size: 3.2em;
}

/***** HEADER MENU *******/
menu a img{
  height: 50px;
  margin: 20px 0 0;
  float: left;
}
menu ul{
  display: inline-block;
  float: right;
  margin-top:5px;
  margin-right: 25px;
  margin-bottom: 0px;
  height: 70px;
  line-height: 70px; /* same as height! */
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

menu ul li{
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0 15px;
  background-repeat: no-repeat;
  background-position: right;
}
.menu-top {
  margin-top: 0px;
  position: absolute;
  width: 100%;
}
.menu-scoll{
  height: 0px;
}

.menu-scroll ul{
  margin-top: 0px;
}

menu ul li a{
  color: white;
  font-family: 'Karla',sans-serif;
font-size: 1.2em;
font-style: normal;
font-weight: 700;
letter-spacing: -1px;
text-transform: capitalize;
position: relative;
padding: 0
}

menu ul li a .underline{
width: 100%;
height: 1px;
background-color:#fff;
margin-top:-28px;
display: none;
}

.menu-top ul li a:hover{
  color: white;
  text-decoration: none;
}

menu ul li a:hover .underline{
  display: block;
  -webkit-animation: fadeInFromNone 1s ease-out;
  -moz-animation: fadeInFromNone 1s ease-out;
  -o-animation: fadeInFromNone 1s ease-out;
  animation: fadeInFromNone 1s ease-out;
}
@-webkit-keyframes fadeInFromNone {
  0% { display: none; opacity: 0; }
  1% { display: block; opacity: 0;}
  100% { display: block; opacity: 1;}
}
@-moz-keyframes fadeInFromNone {
  0% { display: none; opacity: 0; }
  1% { display: block; opacity: 0;}
  100% { display: block; opacity: 1;}
}
@-o-keyframes fadeInFromNone {
  0% { display: none; opacity: 0; }
  1% { display: block; opacity: 0;}
  100% { display: block; opacity: 1;}
}
@keyframes fadeInFromNone {
  0% { display: none; opacity: 0; }
  1% { display: block; opacity: 0;}
  100% { display: block; opacity: 1;}
}

.menu-scroll{
  background-color: #ffffff;
  position: fixed;
  width:100%;
  margin-top: 0;
  color:#000000;
  z-index: 9999;
  display: none;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
 }
 @-webkit-keyframes slideInDown {
 0% {
 -webkit-transform: translateY(-100%);
 transform: translateY(-100%);
 visibility: visible;
 }
 100%  {
 -webkit-transform: translateY(0);
 transform: translateY(0);
 }
 }
 @keyframes slideInDown {
 0% {
 -webkit-transform: translateY(-100%);
 transform: translateY(-100%);
 visibility: visible;
 }
 100% {
 -webkit-transform: translateY(0);
 transform: translateY(0);
 }
 }

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideOutUp {
  0% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  100% {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  }
  }
  @keyframes slideOutUp {
  0% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  100% {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  }
  }

.menu-scroll ul li a{
  color: black;
}
.menu-scroll ul li a:hover{
  color: black;
  text-decoration: none;
}

.menu-scroll a img{
  height: 40px;
  margin: 15px 0;
  float: left;
}

.menu-scroll ul li a .underline{
  background-color: #000;
}

/******** Header text *********/
#annonce{
  margin-top: 45vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  padding: 0 18px;
}

.dwn-button{
  width:158px;
  height:48px;
  background-repeat: no-repeat;
  background-size: auto;
  float: left;"
}

.dwn-button:nth-child(2){
  margin-left:10px;
}
#annonce h1{
  font-family: "Karla";
  font-size: 3.9em;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 68px;
}
#annonce h2{
  font-family: "karla";
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 28px;
  padding: 17px 0;
}

#publicity{
  width: 1085px;
  margin: calc(-113px + -3vh) auto 0;
  height: 227px;
  object-fit: contain;
  z-index: 888;
}
